mingit-commit-list {
	display: flex;
	flex-direction: column;
	gap: 12px;

	& commit {
		display: flex;
		align-items: center;
		overflow-x: hidden;

		& cell { flex-shrink: 0; width: 20px; }
		& .marker::before {
			content: '';
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50px;
			background: var(--branch-color);
			outline: 3px solid var(--vscode-sideBarTitle-background);
		}

		& .col { overflow-x: hidden; }
		& .row {
			display: flex;
			align-items: baseline;
			gap: 8px;
			max-width: 100%;
		}

		& .secondary { opacity: .7; }

		& .commit-body {
			font-weight: 600;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	& connectors {
		position: absolute;
		inset: 0;
		z-index: -1;
		pointer-events: none;

		& con {
			position: absolute;
			border-inline-end: 2px solid;
			color: var(--branch-color);
		}
		& .right {
			border-block-start: 2px solid;
			border-start-end-radius: 8px; /* ouch!! top-right */
			translate: 2px;
		}
		& .left {
			border-block-end: 2px solid;
			border-end-end-radius: 8px; /* bottom-right */
			translate: 2px 3px;
		}
	}
}
