mingit-commit-list {
	position: relative;
	display: block;
	max-height: calc(100vh - 10px);
	width: calc(100% + 2px);
	margin-block: -12px;
	padding: 12px 0 24px 0;
	scrollbar-width: thin;
	overflow: auto;

	& commit {
		display: flex;
		align-items: center;
		padding: 6px 8px 6px 16px;
		overflow-x: hidden;
		cursor: pointer;
		user-select: none;

		&:hover { background: var(--vscode-toolbar-hoverBackground); }

		& cell { flex-shrink: 0; width: 16px; }
		& .marker::before {
			content: '';
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50px;
			border: 2px solid var(--branch-color);
			background: var(--vscode-sideBarTitle-background);
			/* outline: 3px solid var(--vscode-sideBarTitle-background); */
		}

		& .col { overflow-x: hidden; }
		& .row {
			display: flex;
			align-items: baseline;
			gap: 8px;
			max-width: 100%;
		}

		& .secondary { opacity: .7; }

		& .commit-body {
			font-weight: 600;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	& connectors {
		position: absolute;
		inset: 0;
		z-index: -1;
		pointer-events: none;

		& con {
			position: absolute;
			border-inline-end: 2px solid;
			color: var(--branch-color);
			translate: 4px 6px;
		}
		& .right {
			border-block-start: 2px solid;
			border-start-end-radius: 16px; /* ouch!! top-right */
			translate: 6px 4px;
		}
		& .left {
			border-block-end: 2px solid;
			border-end-end-radius: 16px; /* bottom-right */
			translate: 6px 6px;
		}
		& .flip {
			scale: -1 1;
			translate: 4px 4px;
		}
		& .orphan {
			height: 19px !important;
            border-inline-end-style: dotted;
		}
	}
}
