mingit-toolbar {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
	flex-wrap: wrap;
    margin-block: 0;
    padding: 4px var(--container-padding);
    z-index: 1;
	background: var(--vscode-sideBarTitle-background);

	& button.tertiary {
		width: 28px;
		height: 28px;
		color: var(--vscode-icon-foreground);
		background: transparent;

		&:hover { background: var(--vscode-toolbar-hoverBackground); }
	}

	& separator {
		width: 1px;
		height: 10px;
		background: var(--vscode-foreground);
		opacity: .3;
	}

	& input {
		flex: 1 0 100%;
		margin-block-start: 4px;
	}
}
