mingit-toolbar {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
	background: var(--vscode-sideBarTitle-background);
	border-block-start: 1px solid var(--vscode-sideBarSectionHeader-border);
    z-index: 1;

	& button.tertiary {
		width: 28px;
		height: 28px;
		color: var(--vscode-icon-foreground);
		background: transparent;

		&:hover { background: var(--vscode-toolbar-hoverBackground); }
	}

	& separator {
		width: 1px;
		height: 10px;
		background: var(--vscode-foreground);
		opacity: .3;
	}
}
