mingit-change-list {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	change-list {
		flex-grow: 1;
		width: calc(100% + 2px);
		overflow: hidden auto;
	}

	& file {
		display: flex;
		align-items: baseline;
		gap: 6px;
		width: calc(100% - 2px);
		padding: 2px 13px 3px;
		cursor: pointer;
		user-select: none;

		&:hover { background: var(--vscode-toolbar-hoverBackground); }

		&.selected { background: var(--vscode-list-activeSelectionBackground); }
		&:focus {
			background: var(--vscode-list-activeSelectionBackground);
			outline: 1px solid var(--vscode-list-focusOutline);
			outline-offset: -1px;
		}

		& span {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		& span:first-child {
			flex-shrink: 0;
			max-width: 70%;
		}
		& .secondary {
			font-size: .9em;
			opacity: .6;
		}

		& decorations {
			flex-shrink: 0;
			margin-inline-start: auto;
			font-family: var(--vscode-editor-font-family);

			&.M, &.A_M { color: var(--vscode-gitDecoration-modifiedResourceForeground); }
			& .insertions, &.A { color: var(--vscode-gitDecoration-addedResourceForeground); }
			& .deletions, &.D { color: var(--vscode-gitDecoration-deletedResourceForeground); }
		}
	}
}
