:root {
	--container-padding: 12px;
	--input-padding-vertical: 4px;
	--input-padding-horizontal: 6px;
	--input-margin-vertical: 4px;
	--input-margin-horizontal: 0;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 0;
	color: var(--vscode-foreground);
	background: var(--vscode-sideBarTitle-background);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
	overflow: hidden;
}

* { scrollbar-width: thin; }

::-webkit-resizer {
	background: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L1 9H9V1Z' fill='%23999' fill-opacity='0.3'/%3E%3C/svg%3E%0A")
		bottom right no-repeat;
}

*:focus { outline-color: var(--vscode-focusBorder) !important; }

ul, li {
	appearance: none;
	margin: 0;
	padding: 0;
}
a { color: var(--vscode-textLink-foreground); }
a:hover, a:active { color: var(--vscode-textLink-activeForeground); }

code {
	font-size: var(--vscode-editor-font-size);
	font-family: var(--vscode-editor-font-family);
}

button {
	width: 100%;
	padding: 6px;
	border: none;
	border-radius: 2px;
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);
	text-align: center;
	outline: 1px solid transparent;
	outline-offset: 2px;
	transition: background .2s, outline-color .2s;
}
button:hover {
	cursor: pointer;
	background: var(--vscode-button-hoverBackground);
}
button:focus { outline-color: transparent !important; }
button:focus-visible { outline-color: var(--vscode-focusBorder) !important; }

button.secondary {
	color: var(--vscode-button-secondaryForeground);
	background: var(--vscode-button-secondaryBackground);
	outline-offset: 0;
}
button.secondary:hover { background: var(--vscode-button-secondaryHoverBackground); }

input:not([type='checkbox']),
textarea {
	display: block;
	width: 100%;
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	border: none;
	border-radius: 2px;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	outline-color: var(--vscode-input-border);
	font-family: var(--vscode-font-family);
	line-height: 18px;
}

input::placeholder, textarea::placeholder { color: var(--vscode-input-placeholderForeground); }

.progress {
	position: absolute;
	width: 10vw;
	height: 2px;
	background: var(--vscode-progressBar-background);

	animation: progress 5s linear infinite;

	&.absolute {
		position: absolute;
		inset: 0 auto auto 0;
	}
}
@keyframes progress {
	0% {
		translate: -50vw 0;
		scale: .3 1;
	}
	50% {
		scale: .7 1;
	}
	100% {
		translate: 100vw 0;
		scale: .3 1;
	}
}